#playButton {
    cursor: pointer;    
    width: 46px;
    height: 100%;
}
.svg-shadow {
    stroke: #000;
    stroke-opacity: .15;
    stroke-width: 2px;
    fill: none;
}
.svg-fill {
    fill: #fff;
}