extends partials/layout.pug
include mixins/video.pug

block content
    div#contents
        each videoInfo in dbVideos
            +video(videoInfo)
        else 
            span.empty__message No video found