extends partials/layout.pug

block content  
    if errMessage 
        span=errMessage
    form(method="POST")
        input(name="title" required type="text" placeholder="Enter the Title" value="test video title")
        input(name="description" required type="text" placeholder="Enter the description of video" value="test video description")
        input(name="hashtags" required type="text" placeholder="Enter the hashtag of video, separated by comma" value="a,e,i,o,u")
        input(type="submit" value="Upload Video" width="10")