doctype html
html(lang="ko")
    head
        title=tabTitle
        link(rel='stylesheet', href='https://unpkg.com/mvp.css')
    body 
        nav
            ul  
                li
                    a(href='/login') Login
        main
            header=pageTitle
            block content

        include footer.pug