doctype html
html(lang="ko")
    head
        title=tabTitle
        link(rel='stylesheet', href='https://unpkg.com/mvp.css')
    body 
        nav
            ul  
                li
                    a(href="/login") Login
        main
            header
                h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/search") Search Video
                    li 
                        a(href="/videos/upload") Upload Video
                    li 
                        a(href="/") Home
            block content

        include footer.pug