extends ../partials/layout.pug

block content 
    if errMessage
        span errMessage
    form(method="POST")
        input(name="oldPassword" required type="password" placeholder="my original password is") 
        input(name="newPassword" required type="password" placeholder="Change Password into...") 
        input(name="newPasswordConfirm" required type="password" placeholder="New password Confirmation") 
        input(type="submit", value="Change Password")