extends ../partials/layout.pug

block content 
    form(method="POST")
        input(name="newPassword" required type="text" placeholder="Change Password into...") 
        input(name="newPasswordConfirm" required type="password" placeholder="New password Confirmation") 
        input(type="submit", value="Change Password")