extends ../partials/layout.pug
include ../mixins/video.pug

block content   
    div#profile-data
        img(src=`/${user.avatarUrl}`, alt="no images")#avatar__img
        h3=user.name
    div#contents
        each videoInfo in user.videos 
            +video(videoInfo)
        else 
            span Sorry, nothing found.