extends ../partials/layout.pug

block content
    if errMessage
        span=errMessage
    form(method="POST")
        input(name="username" required type="text" placeholder="Enter the username that you gonna use in this site")
        input(name="password" required type="password" placeholder="Enter the password")
        input(type="submit" value="Log in")
    div.social-login-container
        include ../partials/social-login.pug
        br
        span.or__span
            | or
        br
        a(href="/join").goto-join-page
            | Don't have an Account? &rsaquo;    
