extends ../partials/layout.pug

block content
    if errMessage
        span=errMessage
    form(method="POST")
        input(name="username" required type="text" placeholder="Enter the username that you gonna use in this site")
        input(name="password" required type="password" placeholder="Enter the password")
        input(type="submit" value="Log in")
    hr
    div     
        a(href="users/github/start") Continue With GitHub &rsaquo;
        br
        a(href="/join") Don't have an Account? &rsaquo;    
